<h1>Welcome from rails!!</h1>


<input type="text" id="field1">
<input type="text" id="field2">
<button id="add">Add!</button>
<p id="wynik"><p>

<h1> Articles counter: <span id="articles-summary"></span></h1>
